# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# VIRTUAL ENV (QUAN TRỌNG)
# ========================
.venv/
venv/
env/

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# MODEL & CHECKPOINT (KHÔNG PUSH)
# ========================
checkpoint/
saved_models/

# ========================
# DATA (CHỈ GIỮ LABEL)
# ========================
# data/

# ========================
# TEMP FILE
# ========================
temp.txt
*.log
*.out

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# BUILD / DIST
# ========================
build/
dist/
*.egg-info/

# ========================
# NOTEBOOK
# ========================
.ipynb_checkpoints/