# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# VIRTUAL ENV 
# ========================
.venv/
venv/
env/

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# MODEL & CHECKPOINT 
# ========================
checkpoint/
saved_models/
*.pt
*.pth
*.tar
*.ckpt

# ========================
# DATA 
# ========================
data/

# ========================
# TEMP FILE
# ========================
temp.txt
*.log
*.out

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# BUILD / DIST
# ========================
build/
dist/
*.egg-info/

# ========================
# NOTEBOOK
# ========================
.ipynb_checkpoints/